body{
    overflow-x: hidden;
}
.img{
    width:10% ;
    position: absolute;
    left: -10;
    clip-path: circle(50% at center);
}
.anim{
    text-align: center;
    font-size: 50px;
    color: rgb(104, 133, 104);
    animation: great 2s infinite;
}
@keyframes great{
    0%, 100%{
        opacity: 1.0;
    }
    50%{
        opacity: 0.4;
    }
}
.hero{
    text-align: center;
    height: 400px;
    align-content: center;
    /* background-color: black; */
    color: white;
    background-image: url(../img/pexels-pixabay-210182.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.d3{
    text-align: center;
    margin-top: 20px;
}
.d4{
    text-align: center;
    background-color: rgba(204, 199, 199, 0.356);
    padding: 30px;
    margin-right: 50px;
}
.rw{
    justify-content: center;
}
.d5{
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: black;
}
nav .collapse .navbar-nav li .active{
    color: rgb(149, 195, 248);
    font-weight: bold;
}
.d6{
    text-align: center;
    padding: 10px;
}
.d7{
    text-align: center;
    align-items: center;
}
.d2{
    font-weight: bold;
}
.im{
    background-color: black;
    height: 300px;
    width: 90%;

}
.ig{
height: 300px;
width: 90%;
}
.ft{
    font-family: cursive;
    font-style: italic;
    opacity: 0.8;
}
.fta{
    font-size: 30px;
}
.ftw{
    font-weight: bold;
}
.ct{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/795911-freightliner-semi-tractor-transport-truck.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.hd{
    text-align: center;
    font-size: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.ip{
    width: 85%;
}
#ta{
    width: 85%;
    height: 200px;
}
a .bt{
    width: 80%;
}
.close{
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
    padding-top: 25px;
    padding-left: 50px;
}
.quick{
    color: white;
    opacity: 0.7;
}
.car-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    /* overflow-anchor: none; */
}
.car{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background: rgb(230, 229, 229);
    color: black;
}
.headers{
    text-align: center;
    font-weight: bold;
}
header{
    background: #333;
    color: white;
}
.car img{
    width: 170px;
    height: 200px;
    object-fit: cover;
}
.booking-form{
    padding: 20px;
    background: #ddd;
}
.booking-form form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}
.booking-form input, button{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border: 5px;
}
p{
    font-style: italic;
    font-weight: 400;
}